<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{.title}}</title>
    <meta name="description" content="A Simple Expense Tracker" />
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 pt-24 pb-10">
      <!-- Title -->
      <div class="mt-5 max-w-xl text-center mx-auto">
        <h1
          class="block font-bold text-gray-800 text-4xl md:text-5xl lg:text-6xl"
        >
          Simple Expense Tracker
        </h1>
      </div>
      <!-- End Title -->

      <div class="mt-5 max-w-3xl text-center mx-auto">
        <p class="text-lg text-gray-600">
          Expenset is an expense tracker
          <br />
          you can easily track where your money goes.
        </p>
      </div>
      <!-- Card Section -->
      <div class="max-w-2xl px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
        <!-- Grid -->
        <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-4 sm:gap-6">
          {{ range .books }} {{ template "card-book" .}} {{ end }}
        </div>
        <!-- End Grid -->
      </div>
      <!-- End Card Section -->
    </div>
  </body>
</html>
