<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Login With Google</title>
    <meta name="description" content="Login with google provider" />
    <link rel="shortcut icon" href="https://picocss.com/favicon.ico" />
    <link
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 pt-24 pb-10">
      <!-- Title -->
      <div class="mt-5 max-w-xl text-center mx-auto">
        <h1
          class="block font-bold text-gray-800 text-4xl md:text-5xl lg:text-6xl"
        >
          Simple Expense Tracker
        </h1>
      </div>
      <!-- End Title -->

      <div class="mt-5 max-w-3xl text-center mx-auto">
        <p class="text-lg text-gray-600">
          Expenset is an expense tracker
          <br />
          you can easily track where your money goes.
        </p>
      </div>

      <!-- Buttons -->
      <div class="mt-8 grid gap-3 w-full sm:inline-flex sm:justify-center">
        <a
          href="/auth/google/login"
          class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-700 text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-800 focus:ring-offset-2 transition-all text-sm"
        >
          Continue With Google
          <svg
            class="w-2.5 h-auto"
            width="17"
            height="16"
            viewBox="0 0 17 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M1 7C0.447715 7 -3.73832e-07 7.44771 -3.49691e-07 8C-3.2555e-07 8.55228 0.447715 9 1 9L13.0858 9L7.79289 14.2929C7.40237 14.6834 7.40237 15.3166 7.79289 15.7071C8.18342 16.0976 8.81658 16.0976 9.20711 15.7071L16.0303 8.88388C16.5185 8.39573 16.5185 7.60427 16.0303 7.11612L9.20711 0.292893C8.81658 -0.0976318 8.18342 -0.0976318 7.79289 0.292893C7.40237 0.683417 7.40237 1.31658 7.79289 1.70711L13.0858 7L1 7Z"
              fill="currentColor"
            />
          </svg>
        </a>
      </div>
    </div>
  </body>
</html>
